data/token.json
data/user/*.json
!data/user/1.json
data/guild/*.json
!data/guild/1.json
.vscode
.vscode/*
.env
.bashrc

#other things
__pycache__/*
*/__pycache__
__pycache__
*.pyc
test.*
test2.*
test3.*
test.py
